RPC_URL=https://rpc-amoy.polygon.technology
CONTRACT_ADDRESS=0x7c80E676758cc6f1748ddF0c02dB0abE8Ec42631

PRIVATE_KEY_SPV=...
PRIVATE_KEY_NOTARY=...
PRIVATE_KEY_MANAGER=...

RECIPIENT=0x... #address
TOKEN_ID=1
AMOUNT=10
FEES=0

SET_URI_IF_EMPTY=true
DOC_HASH=0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
DOC_CID=ipfs://thisisfakeipfs